header.page-header
  div.search
    form(method="GET" action="#")
      input.search-field(type="text" name="search" id="search" placeholder="Поиск...")
  div.profile.item-width-picture(data-text="0")
    a.profile-name(href="#") Опознанный Енот
    button.profile-btn(type="button")
      span.visually-hidden Открыть/Закрыть меню
  div.notifications
    button.notifications-btn(type="button")
      span 1
