section.contacts
  h2 Контакты
  ul.contact-list
    li.contact-item
      a.contact-link.item-with-picture(data-text='Н' href='#')
        p.contact-name Неопознанный Енот
        p.contact-lang English A1
    li.contact-item
      a.contact-link.item-with-picture(data-text='Н' href='#')
        p.contact-name Неопознанный Енот 2
        p.contact-lang Español 2
    li.contact-item
      a.contact-link.item-with-picture(data-text='Н' href='#')
        p.contact-name Неопознанный Енот 3
        p.contact-lang 日本語;
    li.contact-item
      a.contact-link.item-with-picture(data-text='Н' href='#')
        p.contact-name Неопознанный Енот 4
        p.contact-lang English B2
    li.contact-item
      a.contact-link.item-with-picture(data-text='Н' href='#')
        p.contact-name Неопознанный Енот 5
        p.contact-lang Le Français
    li.contact-item
      a.contact-link.item-with-picture(data-text='Н' href='#')
        p.contact-name Неопознанный Енот 6
        p.contact-lang Español 1
    li.contact-item
      a.contact-link.item-with-picture(data-text='Н' href='#')
        p.contact-name Неопознанный Енот 7
        p.contact-lang Italiano
