section.offers
  h2.visually-hidden Интересные предложения
  ul.offers-list
    li.offers-item
      h3  Англиский завтрак
      div.offer-content
        p.offers-item-text Разговорный клуб
        p.offers-item-time 10:00 - 11:00 (ПН-ПТ)
      div.offer-footer
        a(href="#") Записаться ➞
    li.offers-item
      h3 Лето в Лондоне
      div.offer-content
        p.offer-content-text Месяц экскурсий и практики
        p.offer-content-time 10 июня - 3 июля
      div.offer-footer
        a(href="#") Отправиться ➞
    li.offers-item
      h3 Надоел английский?
      div.offer-content
        p.offers-item-text С нами можно выучить и другие языки
      div.offers-footer
        a(href="#") Открыть список ➞
