section.video
  h2.visually-hidden Просмотр видео уроков
  video.lesson-video(poster='https://assets.htmlacademy.ru/content/skills/6/case-01/img/image-18.jpg' width='540' height='300')
    source(src='video.mp4' type='video/mp4')
  .video-play-list-wrapper
    h3 Курс English A1
    ul.play-list
      li.play-item
        button.play-button(type='button')
          span.visually-hidden Пуск/Стоп
        h4 Урок 8
        p Времена глаголов
      li.play-item.play-item-active
        button.play-button(type='button')
          span.visually-hidden Пуск/Стоп
        h4 Урок 9
        p Неправильные глаголы
      li.play-item
        button.play-button(type='button')
          span.visually-hidden Пуск/Стоп
        h4 Урок 10
        p Present Simple
      li.play-item
        button.play-button(type='button')
          span.visually-hidden Пуск/Стоп
        h4 Урок 11
        p Past Simple
