@import '../../../node_modules/normalize.css/normalize.css';

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

html,
body {
  min-width: 1440px;
  min-height: 980px;
}

body {
  /* Временно для сетки */
  background-image: url('https://assets.htmlacademy.ru/content/skills/6/case-01/index.jpg');
  background-size: 1440px auto;
  background-repeat: no-repeat;
  background-position: top center;
}
