extends common/layout

block content
    main.page-main
        h1.visually-hidden Главная страница сайта языковой школы Let’s Speak
        include includes/index/slider
        include includes/index/offers
        include includes/index/video
        include includes/index/contacts
